<h1>Questions</h1>


    {{#each questions}}
    <a class="button" href="/{{this.id}}">{{this.question}}</a>
    {{/each}}

    <script>
        
    </script>
<a class="button" href="/new">Add new question</a>