<h2><a href="/" style="color: black">{{title}}</a></h2>
<a href="/edit/{{this.id}}"> Edit </a>

<div>{{this.question}}</div>











<form action="/{{id}}?_method=delete" method="post" style="margin-top: 30px">
    <input type="submit" value="Delete">
</form>
